In [1]:
import tushare as ts
import pandas as pd

In [2]:
ts.set_token('53cd3b985c649c978160c6ec04bce24f4fbd2ebcb4673e8f2fba9a43')
pro = ts.pro_api()

In [7]:
df = pro.income(ts_code='000003.SZ', report_type='1', fields='ts_code,ann_date,basic_eps,revenue,total_profit')

In [8]:
df.head()

     ts_code  ann_date  basic_eps      revenue  total_profit
0  000003.SZ  20200501    -0.0700  11492320.89  -26336334.72
1  000003.SZ  20191030    -0.0108   8677210.07   -4321150.18
2  000003.SZ  20191030        NaN   8677210.07           NaN
3  000003.SZ  20190824    -0.0076   6069321.73   -3033987.74
4  000003.SZ  20190427    -0.0048   3155727.64   -1928623.17