In [1]:
import pandas as pd
import re

In [2]:
company_df = pd.read_csv('import/company.csv')

In [3]:
company_df.head()

,companyId:ID(Company),name:string,area:string,industry:string,fullname:string,listDate:date,:LABEL
0,000001.SZ,平安银行,深圳,银行,平安银行股份有限公司,1991-04-03,Company
1,000002.SZ,万科A,深圳,全国地产,万科企业股份有限公司,1991-01-29,Company
2,000004.SZ,国农科技,深圳,生物制药,深圳中国农大科技股份有限公司,1991-01-14,Company
3,000005.SZ,世纪星源,深圳,环境保护,深圳世纪星源股份有限公司,1990-12-10,Company
4,000006.SZ,深振业A,深圳,区域地产,深圳市振业(集团)股份有限公司,1992-04-27,Company

In [4]:
regions = set(company_df['area:string'])

In [5]:
len(regions)

32

In [6]:
prov_eco_df = pd.read_excel('分省年度数据.xls', header=3, nrows=31)

In [7]:
prov_eco_df

          地区      2019年     2018年     2017年     2016年     2015年
0        北京市   35371.28  33105.97  28014.94  25669.13  23014.59
1        天津市   14104.28  13362.92  18549.19  17885.39  16538.19
2        河北省   35104.52  32494.61  34016.32  32070.45  29806.11
3        山西省   17026.68  15958.13  15528.42  13050.41  12766.49
4     内蒙古自治区   17212.53  16140.76  16096.21  18128.10  17831.51
5        辽宁省   24909.45  23510.54  23409.24  22246.90  28669.02
6        吉林省   11726.82  11253.81  14944.53  14776.80  14063.13
7       黑龙江省   13612.68  12846.48  15902.68  15386.09  15083.67
8        上海市   38155.32  36011.82  30632.99  28178.65  25123.45
9        江苏省   99631.52  93207.55  85869.76  77388.28  70116.38
10       浙江省   62351.74  58002.84  51768.26  47251.36  42886.49
11       安徽省   37113.98  34010.91  27018.00  24407.62  22005.63
12       福建省   42395.00  38687.77  32182.09  28810.58  25979.82
13       江西省   24757.50  22716.51  20006.31  18499.00  16723.78
14       山东省   71067.53  66648.87  72634.15  68024.49  63002.33
15       河南省   54259.20  49935.90  44552.83  40471.79  37002.16
16       湖北省   45828.31  42021.95  35478.09  32665.38  29550.19
17       湖南省   39752.12  36329.68  33902.96  31551.37  28902.21
18       广东省  107671.07  99945.22  89705.23  80854.91  72812.55
19   广西壮族自治区   21237.14  19627.81  18523.26  18317.64  16803.12
20       海南省    5308.93   4910.69   4462.54   4053.20   3702.76
21       重庆市   23605.77  21588.80  19424.73  17740.59  15717.27
22       四川省   46615.82  42902.10  36980.22  32934.54  30053.10
23       贵州省   16769.34  15353.21  13540.83  11776.73  10502.56
24       云南省   23223.75  20880.63  16376.34  14788.42  13619.17
25     西藏自治区    1697.82   1548.39   1310.92   1151.41   1026.39
26       陕西省   25793.17  23941.88  21898.81  19399.59  18021.86
27       甘肃省    8718.30   8104.07   7459.90   7200.37   6790.32
28       青海省    2965.95   2748.00   2624.83   2572.49   2417.05
29   宁夏回族自治区    3748.48   3510.21   3443.56   3168.59   2911.77
30  新疆维吾尔自治区   13597.11  12809.39  10881.96   9649.70   9324.80

In [8]:
def parse_prov_name(x: pd.Series) -> str:
    s = x['地区']
    # 去掉内容
    s = re.sub('省|自治区|回族|维吾尔|壮族|市|古', '', s)
    return s

In [9]:
prov_eco_df['地区'] = prov_eco_df.apply(parse_prov_name, axis=1)

In [10]:
prov_eco_df

     地区      2019年     2018年     2017年     2016年     2015年
0    北京   35371.28  33105.97  28014.94  25669.13  23014.59
1    天津   14104.28  13362.92  18549.19  17885.39  16538.19
2    河北   35104.52  32494.61  34016.32  32070.45  29806.11
3    山西   17026.68  15958.13  15528.42  13050.41  12766.49
4    内蒙   17212.53  16140.76  16096.21  18128.10  17831.51
5    辽宁   24909.45  23510.54  23409.24  22246.90  28669.02
6    吉林   11726.82  11253.81  14944.53  14776.80  14063.13
7   黑龙江   13612.68  12846.48  15902.68  15386.09  15083.67
8    上海   38155.32  36011.82  30632.99  28178.65  25123.45
9    江苏   99631.52  93207.55  85869.76  77388.28  70116.38
10   浙江   62351.74  58002.84  51768.26  47251.36  42886.49
11   安徽   37113.98  34010.91  27018.00  24407.62  22005.63
12   福建   42395.00  38687.77  32182.09  28810.58  25979.82
13   江西   24757.50  22716.51  20006.31  18499.00  16723.78
14   山东   71067.53  66648.87  72634.15  68024.49  63002.33
15   河南   54259.20  49935.90  44552.83  40471.79  37002.16
16   湖北   45828.31  42021.95  35478.09  32665.38  29550.19
17   湖南   39752.12  36329.68  33902.96  31551.37  28902.21
18   广东  107671.07  99945.22  89705.23  80854.91  72812.55
19   广西   21237.14  19627.81  18523.26  18317.64  16803.12
20   海南    5308.93   4910.69   4462.54   4053.20   3702.76
21   重庆   23605.77  21588.80  19424.73  17740.59  15717.27
22   四川   46615.82  42902.10  36980.22  32934.54  30053.10
23   贵州   16769.34  15353.21  13540.83  11776.73  10502.56
24   云南   23223.75  20880.63  16376.34  14788.42  13619.17
25   西藏    1697.82   1548.39   1310.92   1151.41   1026.39
26   陕西   25793.17  23941.88  21898.81  19399.59  18021.86
27   甘肃    8718.30   8104.07   7459.90   7200.37   6790.32
28   青海    2965.95   2748.00   2624.83   2572.49   2417.05
29   宁夏    3748.48   3510.21   3443.56   3168.59   2911.77
30   新疆   13597.11  12809.39  10881.96   9649.70   9324.80

In [11]:
city_eco_df = pd.read_excel('主要城市年度数据.xls', header=3, nrows=36)

In [12]:
city_eco_df

      地区     2019年     2018年     2017年     2016年     2015年
0     北京  35371.28  33105.97  28014.94  25669.13  23014.59
1     天津  14104.28  13362.92  18549.19  17885.39  16538.19
2    石家庄       NaN   6082.62   6460.88   5927.73   5440.60
3     太原       NaN   3884.48   3382.18   2955.60   2735.34
4   呼和浩特       NaN   2903.50   2743.72   3173.59   3090.52
5     沈阳       NaN   6292.40   5864.97   5546.45   7272.31
6     大连       NaN   7668.48   7363.92   6810.20   7731.64
7     长春       NaN   7175.71   6530.03   5986.42   5530.03
8    哈尔滨       NaN   6300.48   6355.05   6101.61   5751.21
9     上海  38155.32  36011.82  30632.99  28178.65  25123.45
10    南京       NaN  12820.40  11715.10  10503.02   9720.77
11    杭州       NaN  13509.15  12603.36  11313.72  10050.21
12    宁波       NaN  10745.46   9842.10   8686.49   8003.61
13    合肥       NaN   7822.91   7213.45   6274.38   5660.27
14    福州       NaN   7856.81   7103.40   6197.64   5618.08
15    厦门       NaN   4791.41   4351.70   3784.27   3466.03
16    南昌       NaN   5274.67   5003.19   4354.99   4000.01
17    济南       NaN   7856.56   7201.96   6536.12   6100.23
18    青岛       NaN  12001.52  11037.28  10011.29   9300.07
19    郑州       NaN  10143.32   9130.20   8113.97   7311.52
20    武汉       NaN  14847.29  13410.34  11912.61  10905.60
21    长沙       NaN  11003.41  10535.51   9356.91   8510.13
22    广州       NaN  22859.35  21503.15  19547.44  18100.41
23    深圳       NaN  24221.98  22490.06  19492.60  17502.86
24    南宁       NaN   4026.91   4118.83   3703.33   3410.09
25    海口       NaN   1510.51   1390.58   1257.67   1161.96
26    重庆  23605.77  21588.80  19424.73  17740.59  15717.27
27    成都       NaN  15342.77  13889.39  12170.23  10801.16
28    贵阳       NaN   3798.45   3537.96   3157.70   2891.16
29    昆明       NaN   5206.90   4857.64   4300.08   3968.01
30    拉萨       NaN    540.78    479.25    424.95    376.73
31    西安       NaN   8349.86   7469.85   6257.18   5801.20
32    兰州       NaN   2732.94   2523.54   2264.23   2095.99
33    西宁       NaN   1286.41   1284.91   1248.17   1131.62
34    银川       NaN   1901.48   1803.26   1617.71   1493.86
35  乌鲁木齐       NaN   3099.77   2743.82   2458.98   2631.64

In [13]:
area_eco_df = pd.concat([prov_eco_df, city_eco_df])

In [14]:
len(area_eco_df)

67

In [15]:
area_eco_df = area_eco_df.drop_duplicates('地区')

In [16]:
area_eco_df[area_eco_df['地区'] == '重庆']

    地区     2019年    2018年     2017年     2016年     2015年
21  重庆  23605.77  21588.8  19424.73  17740.59  15717.27

In [17]:
len(area_eco_df)

63

In [18]:
all(x in set(area_eco_df['地区']) for x in regions)

True

In [19]:
area_eco_df.columns = ['area', '2019', '2018', '2017', '2016', '2015']

In [45]:
area_eco_df[pd.isna(area_eco_df['2019'])]

    area  2019      2018      2017      2016      2015
2    石家庄   NaN   6082.62   6460.88   5927.73   5440.60
3     太原   NaN   3884.48   3382.18   2955.60   2735.34
4   呼和浩特   NaN   2903.50   2743.72   3173.59   3090.52
5     沈阳   NaN   6292.40   5864.97   5546.45   7272.31
6     大连   NaN   7668.48   7363.92   6810.20   7731.64
7     长春   NaN   7175.71   6530.03   5986.42   5530.03
8    哈尔滨   NaN   6300.48   6355.05   6101.61   5751.21
10    南京   NaN  12820.40  11715.10  10503.02   9720.77
11    杭州   NaN  13509.15  12603.36  11313.72  10050.21
12    宁波   NaN  10745.46   9842.10   8686.49   8003.61
13    合肥   NaN   7822.91   7213.45   6274.38   5660.27
14    福州   NaN   7856.81   7103.40   6197.64   5618.08
15    厦门   NaN   4791.41   4351.70   3784.27   3466.03
16    南昌   NaN   5274.67   5003.19   4354.99   4000.01
17    济南   NaN   7856.56   7201.96   6536.12   6100.23
18    青岛   NaN  12001.52  11037.28  10011.29   9300.07
19    郑州   NaN  10143.32   9130.20   8113.97   7311.52
20    武汉   NaN  14847.29  13410.34  11912.61  10905.60
21    长沙   NaN  11003.41  10535.51   9356.91   8510.13
22    广州   NaN  22859.35  21503.15  19547.44  18100.41
23    深圳   NaN  24221.98  22490.06  19492.60  17502.86
24    南宁   NaN   4026.91   4118.83   3703.33   3410.09
25    海口   NaN   1510.51   1390.58   1257.67   1161.96
27    成都   NaN  15342.77  13889.39  12170.23  10801.16
28    贵阳   NaN   3798.45   3537.96   3157.70   2891.16
29    昆明   NaN   5206.90   4857.64   4300.08   3968.01
30    拉萨   NaN    540.78    479.25    424.95    376.73
31    西安   NaN   8349.86   7469.85   6257.18   5801.20
32    兰州   NaN   2732.94   2523.54   2264.23   2095.99
33    西宁   NaN   1286.41   1284.91   1248.17   1131.62
34    银川   NaN   1901.48   1803.26   1617.71   1493.86
35  乌鲁木齐   NaN   3099.77   2743.82   2458.98   2631.64

In [61]:
js = []
for i, row in area_eco_df.iterrows():
    objs = [
        {
            "measurement": 'economy',
            "tags": {
                'area': row['area']
            },
            "time": '{}-12-31'.format(year),
            "fields": {
                'gdp': 0.0 if pd.isna(row[year]) else row[year]
            }
        }
        for year in ['2019', '2018', '2017', '2016', '2015']
    ]
    js += objs

In [62]:
js[0]

{'measurement': 'economy',
 'tags': {'area': '北京'},
 'time': '2019-12-31',
 'fields': {'gdp': 35371.28}}

In [63]:
for json in js:
    if json['fields']['gdp'] == 0:
        print(json)
        break

{'measurement': 'economy', 'tags': {'area': '石家庄'}, 'time': '2019-12-31', 'fields': {'gdp': 0.0}}

In [64]:
len(js)

315

In [65]:
from influxdb import InfluxDBClient

In [66]:
client = InfluxDBClient('47.101.33.219', 8086, database='stock', username='influx', password='2020liufeng')

In [67]:
client.write_points(js)

True