In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('import/manager_company.csv')

In [3]:
df.head()

,:END_ID(Company),:START_ID(Manager),title:string,begin_date:date,end_date:date,:TYPE
0,000058.SZ,0,董事,2017-07-21,NaN,work_in
1,000058.SZ,1,董事,2018-03-29,NaN,work_in
2,000058.SZ,2,监事,2018-03-29,NaN,work_in
3,000058.SZ,3,董事,2018-09-13,NaN,work_in
4,000058.SZ,4,董事,2019-04-23,NaN,work_in

In [4]:
df[df[':START_ID(Manager)'] == 0]

,:END_ID(Company),:START_ID(Manager),title:string,begin_date:date,end_date:date,:TYPE
0,000058.SZ,0,董事,2017-07-21,NaN,work_in
4000,000505.SZ,0,董事,2018-06-26,NaN,work_in
4118,000505.SZ,0,董事,2018-06-26,NaN,work_in
8000,000768.SZ,0,董事会秘书,2019-09-24,NaN,work_in
12000,000793.SZ,0,董事,2000-06-29,NaN,work_in
...,...,...,...,...,...,...
150677,688368.SH,0,战略委员会委员,2017-03-02,NaN,work_in
150826,688368.SH,0,法定代表人,2017-01-21,NaN,work_in
150827,688368.SH,0,董事长,2017-01-21,NaN,work_in
150828,688368.SH,0,董事,2017-01-21,NaN,work_in
150829,688368.SH,0,总经理,2017-01-21,NaN,work_in